.Letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  margin: 5px;
  height: 58px;
  width: 50px;
  border-radius: 4px;
}

.green-letter {
  background-color: '#538d4e';
}

.yellow-letter {
  background-color: '#b59f3a';
}

.grey-letter {
  background-color: '#3a3a3c';
}