.Letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  margin: 3px;
  height: 58px;
  width: 46px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
}

.button {
  box-shadow: none;
  border: none;
}

.correct {
  background-color: #538d4e;
}

.present {
  background-color: #b59f3a;
}

.absent {
  background-color: #3a3a3c;
}