.Keyboard {
  display: flex;
  flex-direction: column;
}

.Line {
  display: flex;
  margin: auto;
}

.del-button, .enter-button {
  height: 58px;
  margin: 3px;
  font-weight: bold;
  color: white;
  background-color: #818384;
  border-radius: 4px;
  border: none;
}
